html {
    height: 100%;
}
body {
    height: 95%;
}
#root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 96%;
    margin: auto;
}
#header-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
}

#delete-product-btn {
    background: rgb(218, 55, 55);
    color: white;
    margin-right: 2em;
    margin-left: 1em;
    box-shadow: 3px 3px rgba(158, 4, 4, 0.801);
}

.button-header {
    padding: 1em;
    border: none;
    box-shadow: 3px 3px #ddd;
    font-family: monospace;
    font-weight: bold;
}

.button-header:hover {
    cursor: pointer;
}
#error-nochecked-header {
    background: rgba(190, 31, 31, 0.753);
    color: white;
    padding: 1em;
    text-align: center;
}
#error-nochecked-header p {
    margin: 0;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}
.column-flex {
    display: flex;
    flex-direction: column;
}
.delete-checkbox {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
#product-card {
    margin: 1.5em 1.5em 0 1.5em;
    padding: 1em 1.5em 1em 1.5em;
    width: 18%;
    height: 10em;
    text-align: center;
    border: solid 3px #eee;
    justify-content: space-between;
}
#product-description{
    height: 75%;
    display: flex;
    justify-content: flex-start;
}
#product-card * {
    margin: 0;
}
#space-below {
    height: 20px;
    margin: 2em;
}
#footer-hero {
    position: fixed;
    bottom: 0;
    width: 95%;
    margin: auto;
    border-top: solid 1px #ddd;
    background: #fff;
    text-align: center;
}
#loading {
    width: 100%;
    height: 70vh;
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STARTING /addproduct page section */
#form_container {
    display: flex;
    justify-content: flex-start;
    margin-top: 3em;
}
#product_form{
    display: flex;
    flex-direction: column;
    width: 22em;
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em;
}
.input-container input {
    height: 1.5em;
    padding: .5em;
    padding-left: 2em;
    border: solid 1px #aaa;
}
#productType {
    height: 3em;
    border: solid 1px #aaa;
    width: 14.5em;
}
.error {
    color: red;
    font-size: small;
    margin: 0;
    text-align: end;
    margin-right: .5em;
}
#Dimensions-container, #Weight-container, #Size-container {
    display: none;
}
.type_choice {
    padding: 1em 0 1em 0;
}
#input-description {
    font-weight: bold;
    font-size: small;
    margin-left: .5em;
}

@media only screen and (max-width: 1535px){
    .row-flex {
        justify-content: center;
    }
}
@media only screen and (max-width: 1170px){
    #product-card {
        width: 30%;
    }   
    #space-below {
        height: 40px;
    }
}
@media only screen and (max-width: 1000px){
    #product-card {
        width: 30%;
    }   
}
@media only screen and (max-width: 570px){
    #product-card {
        width: 50%;
    }   
}
